@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@font-face {
  font-family: "HELVETICA_NEUE";
  src: url(../font/HELVETICA_NEUE.OTF);
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

.fh {
  font-family: "HELVETICA_NEUE";
}

Select {
  font-family: inherit; /* 폰트 상속 */
  background: url(../img/btn-drop-arrow.svg) no-repeat 98% 50%;
  /* 네이티브 화살표를 커스텀 화살표로 대체 */
  -webkit-appearance: none;
  /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
}

Select::-ms-expand {
  display: none; /* 화살표 없애기 for IE10, 11*/
}

.main .logo {
  position: fixed;
  top: 13.5px;
  left: 16px;
  display: block;
  z-index: 1;
}
.main .menu {
  position: fixed;
  top: 11px;
  right: 16px;
  width: 34px;
  height: 34px;
  background: transparent url(../img/btn-menu.svg) center/cover no-repeat;
  border: 0;
  outline: 0;
  cursor: pointer;
  display: block;
  z-index: 1;
}
.main .slideWrap {
  width: 90vw;
  height: 100vh;
  position: fixed;
}
.main .slick-list {
  overflow: visible !important;
}
.main .sectionItem {
  height: 100vh;
  position: relative;
}
.main .sectionItem::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.main .sectionItem .textWrap {
  position: absolute;
  right: 40px;
  bottom: 174px;
  text-align: right;
  color: #fff;
  z-index: 2;
}
.main .sectionItem .textWrap .num {
  color: #ECF2CB;
  font-size: 18px;
}
.main .sectionItem .textWrap .line {
  width: 1px;
  height: 100px;
  background-color: #FFFFFF;
  margin-left: auto;
  margin-top: 9px;
  margin-bottom: 53px;
}
.main .sectionItem .textWrap h2 {
  color: #ECF2CB;
  font-size: 40px;
  margin-bottom: 22px;
}
.main .sectionItem .textWrap p {
  font-size: 22px;
  margin-bottom: 32px;
}
.main .sectionItem .textWrap button {
  width: auto;
  height: auto;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.main .sectionItem01 {
  background: url(../img/section-01-default.png) right 7% center/cover no-repeat;
}
.main .sectionItem01::before {
  background-color: rgba(0, 0, 0, 0.2);
}
.main .sectionItem02 {
  background: url(../img/section-03.png) center/cover no-repeat;
}
.main .sectionItem02::before {
  background-color: rgba(0, 0, 0, 0.3);
}
.main .sectionItem03 {
  background: url(../img/mobile/section-03-1.png) center/cover no-repeat;
}
.main .sectionItem03::before {
  background-color: rgba(0, 0, 0, 0.1);
}
.main .sectionItem03 .bgItemWrap .bgItem {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main .sectionItem03 .bgItemWrap .bgItem:nth-child(1) {
  background: url(../img/mobile/section-03-item-1.png) center/cover no-repeat;
}
.main .sectionItem03 .bgItemWrap .bgItem:nth-child(2) {
  background: url(../img/mobile/section-03-2.png) center/cover no-repeat;
}
.main .sectionItem03 .bgItemWrap .bgItem:nth-child(3) {
  background: url(../img/mobile/section-03-item-2.png) center/cover no-repeat;
}
.main .sectionItem03 .bgItemWrap .bgItem:nth-child(4) {
  background: url(../img/mobile/section-03-3.png) center/cover no-repeat;
}
.main .sectionItem03 .bgItemWrap .bgItem:nth-child(5) {
  background: url(../img/mobile/section-03-item-3.png) center/cover no-repeat;
}
.main .sectionItem03 .ch {
  opacity: 0;
  margin-bottom: -100px;
  transition: 0.8s ease-in-out;
}
.main .sectionItem03 .ch01 {
  transition-delay: 0.22s;
  transform: translate(30px, 140px);
}
.main .sectionItem03 .ch02 {
  transition-delay: 0.1s;
  transform: translate(-30px, 100px);
}
.main .sectionItem03 .ch03 {
  transition-delay: 0.2s;
  transform: translate(30px, 100px);
}
.main .slick-current .sectionItem {
  transition: 1s 0.4s ease-in-out;
}
.main .slick-current .sectionItem01 {
  background-position: right 20% center;
}
.main .slick-current .sectionItem02 {
  background-position: 40% center;
}
.main .slick-current .sectionItem03 .ch {
  opacity: 1;
  margin-bottom: 0;
  transform: translate(0, 0);
}

.scheduleWrap {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 25px;
}
.scheduleWrap .scheduleCard {
  position: absolute;
  top: 0;
  width: 100%;
  transform: translateY(-74px);
  transition: 0.6s 0.1s cubic-bezier(0.65, 0.05, 0.36, 1);
  padding-bottom: 34px;
}
.scheduleWrap h3 {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 32px;
}
.scheduleWrap .scheduleTrigger {
  width: 28px;
  height: 28px;
  background: url(../img/mobile/schedule-arr.svg);
  border: 0;
  position: absolute;
  top: 24px;
  right: 38px;
  transition: 0s 0.6s;
}
.scheduleWrap .schedule-top {
  border-radius: 1.8vw 1.8vw 0 0;
  padding: 24px 44px 12px;
}
.scheduleWrap .schedule-top,
.scheduleWrap .schedule-bottom {
  background-color: rgba(0, 0, 0, 0.88);
}
.scheduleWrap .schedule-bottom {
  border-radius: 0 0 1.8vw 1.8vw;
  padding: 10px 44px 30px;
}
.scheduleWrap .schedule-tray img {
  width: 100%;
  margin: 0;
  border: 0;
  display: block;
}
.scheduleWrap .info-top {
  font-size: 28px;
  color: #fff;
  text-transform: uppercase;
}
.scheduleWrap .info-top > div + div {
  margin-top: 13px;
}
.scheduleWrap .info-top .name {
  color: #ECF2CB;
}
.scheduleWrap .info-top .room {
  color: #ECF2CB;
}
.scheduleWrap .info-bottom {
  font-size: 13px;
  margin-top: 31px;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.scheduleWrap .info-bottom .start,
.scheduleWrap .info-bottom .end {
  width: 50%;
}
.scheduleWrap .info-bottom .date {
  font-size: 15px;
  color: #ECF2CB;
  margin-bottom: 6px;
}
.scheduleWrap .info-bottom .time {
  font-size: 15px;
  color: #ECF2CB;
  margin-bottom: 6px;
}
.scheduleWrap .schedule-bottom {
  display: flex;
  gap: 10px;
}
.scheduleWrap .schedule-bottom .ev-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  height: 52px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}
.scheduleWrap .schedule-bottom .ev-btn.colorBtn {
  background-color: #A0E644;
  color: #000;
  border: 0;
}

.scheduleOn .scheduleWrap .scheduleCard {
  transform: translateY(-100%);
}
.scheduleOn .scheduleTrigger {
  transform: rotate(180deg);
}/*# sourceMappingURL=m_style.css.map */